@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body { 
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.header__first-letter_red {
    color: red;
}

.info-span {
    display: block;
}

.cat__status {
    padding-top: 10px;
}

@media screen and (max-width: 730px) {
    .main { 
        width: 100%;
        overflow-y: hidden;
    }
    .cat {
        width: 90%;
        margin: 20px 10px;
        padding: 0;
    }
    .cat__img {
        width: 100%;
    }
    .cat__desktop-info {
        display: none;
    }
}